In [71]:
# Import the library
import pymysql

# Define the connection parameters
host = "sql12.freesqldatabase.com"
port = 3306 # or your custom port
user = "sql12616283"
password = "peM429qpNa"
database = "sql12616283"

# Create a connection object
connection = pymysql.connect(host=host, user=user, password=password, database=database, port=port)
mycur = connection.cursor()

In [72]:
mycur.execute("SELECT userid, height, gender FROM users")
a = mycur.fetchall()
a

(('name1', Decimal('12'), 'M'), ('name2', Decimal('45'), 'F'))

In [73]:
b = [i for i in a]
for i in b:
    print(i[0])

name1
name2

In [85]:
for i in b:
    mycur.execute("SELECT weight, calorie FROM data WHERE userid=%s",i[0])
    c = mycur.fetchall()
    weight = [int(j[0]) for j in c]
    calorie = [int(j[1]) for j in c]
    print(weight,calorie,int(i[1]),i[2])

[45, 34, 34, 34, 34, 34, 34, 34, 34] [56, 45, 45, 45, 45, 45, 45, 45, 45] 12 M
[23, 45, 45, 45, 45] [34, 56, 56, 56, 56] 45 F

In [79]:
for i in range(9,1,-1):
    date = f"2023-08-{i}"
    mycur.execute("INSERT INTO data(userid, date, weight, calorie) VALUES ('name1',%s,34,45)",date)
    if i>=6:
        mycur.execute("INSERT INTO data(userid, date, weight, calorie) VALUES ('name2',%s,45,56)",date)

In [80]:
mycur.execute("SELECT * FROM data")
mycur.fetchall()

(('name1', datetime.date(2023, 5, 11), Decimal('45'), Decimal('56')),
 ('name2', datetime.date(2023, 5, 11), Decimal('23'), Decimal('34')),
 ('name1', datetime.date(2023, 8, 9), Decimal('34'), Decimal('45')),
 ('name2', datetime.date(2023, 8, 9), Decimal('45'), Decimal('56')),
 ('name1', datetime.date(2023, 8, 8), Decimal('34'), Decimal('45')),
 ('name2', datetime.date(2023, 8, 8), Decimal('45'), Decimal('56')),
 ('name1', datetime.date(2023, 8, 7), Decimal('34'), Decimal('45')),
 ('name2', datetime.date(2023, 8, 7), Decimal('45'), Decimal('56')),
 ('name1', datetime.date(2023, 8, 6), Decimal('34'), Decimal('45')),
 ('name2', datetime.date(2023, 8, 6), Decimal('45'), Decimal('56')),
 ('name1', datetime.date(2023, 8, 5), Decimal('34'), Decimal('45')),
 ('name1', datetime.date(2023, 8, 4), Decimal('34'), Decimal('45')),
 ('name1', datetime.date(2023, 8, 3), Decimal('34'), Decimal('45')),
 ('name1', datetime.date(2023, 8, 2), Decimal('34'), Decimal('45')))

In [83]:
connection.commit()